.portfolio {
    margin: 5rem 29rem 10rem 29rem;
    padding: 3rem 3rem 3rem 3rem;
    background-color: #ffffff;
    height: 800px;
    color: rgb(87, 0, 128);
    font-size: 30px;
}

.row {
    padding: 7rem;
}

.card1 {
    float: left;
    position: relative;
    
}

.card2 {
    float: right;
    position: relative;
    
}


.container {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 42px;
    background-color: rgb(87, 0, 128);
    color: #ffffff;
    text-align: center;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer{
    bottom: 0;
    color: #ffffff;
    height: 50px;
    border-top: 8px solid rgb(87, 0, 128);
    background-color: #666666;
    text-align: center;
} 
